{#
/**
 * @file simple-membership.html.twig
 * Default theme implementation to present Simple membership data.
 *
 * This template is used when viewing Simple membership pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_simple_membership()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('simple-membership') }}>
  {% if content %}
    {% for key, value in content %}
      <div><span class="label">{{ key }}:</span> {{ value }}</div>
    {% endfor %}
  {% endif %}
</div>
