{#
/**
 * @file simple_membership_term.html.twig
 * Default theme implementation to present Simple membership term entity data.
 *
 * This template is used when viewing Simple membership term entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_simple_membership_term()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('simple-membership-term') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
